.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondBackGround);
  background-image: url('../../icons/backGround52.png');
  margin-top: 40px;
}

.cardsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  width: 100%;
  height: 90px;
  /* background-color: var(--mainBackGround); */
}

.titleTherapist{
  color: var(--logoColor);
  font-weight: bolder;
  font-size: 53px;
}

.cardContainer {
  min-height: 200px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: #fff;
  margin: 25px;
  padding: 20px;
  border-radius: 17px;
  box-shadow:
    /* 0 0 0 2px var(--spanColor), */
    0.3em 0.3em 1em var(--spanColor);
}

.cardPhotoBox {
  width: 18%;
}


.cardLeftSideBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardRightSideBox {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 70%;
  font-size: 20px;
  gap: 20px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.specalistName {
  color: var(--mainBackGround);
  text-decoration: none;
  font-size: 20px;
}
.specalistName:hover {
  color: var(--specialColor);
}


.specalistAbility {
  font-weight: bolder;
  font-size: 19px;
}

.specalistAbout {
}

.specalistAvailabilityBox {
  display: flex;
  gap: 7px;
}

.specalistAvailability {
}

.cardActions {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardIcon {
  color: var(--mainBackGround);
}

.loadingBox{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  height: 700px;
}

.spinnerLoading{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
  padding: 140px;
  font-size: 30px;
  color: var(--mainBackGround);
}

.logoLoading{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto ;
  width: 230px;
}

.noResultsContainer{
height: 800px;
}

.notResultTitle{

}

.checkedIcon{
  font-size: 50px;
}


@media (max-width: 950px) {
  .cardContainer {
    flex-direction: column;
    width: 38%;
  }

  .cardPhotoBox {
    width: 60%;
  }

  .cardActions {
    width: 25%;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .cardContainer {
    flex-direction: column;
    width: 75%;
  }
  .cardPhotoBox {
    width: 60%;
  }
  .cardActions {
    width: 25%;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  }
}
