.SearchForSpecialistContainer {
  background-color: #eaf5fa;
  padding: 20px;
  height: 260px;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.SearchForSpecialistBody {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.advencedFilter {
  text-align: left;
  padding-left: 10px;
}

.accordionBtn {
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-weight: bold;
  background-color: #eaf5fa;
}

.accordionBtn:hover {
  color: aqua;
}

.accordionBtnNone {
  display: none;
}
