.SearchForSpecialistContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  height: 240px;
  background-color:var(--secondBackGround);
  margin: 15px;
  width: 30%;
}

/* .accordion {
  display: flex;
  flex-direction: column;
} */
.SearchForSpecialistTitleBox {
  grid-column-start: 1;
  grid-column-end: -1;
}
.SearchForSpecialistTitle {
  color: var(--spanColor);
}

.SearchForSpecialistBody {
  padding: 20px;
  border-radius: 20px;
  background-color:var(--secondBackGround);
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px 65px;
  justify-content: center;
  align-items: center;
  box-shadow:
  /* 0 0 0 2px var(--spanColor), */
  0.3em 0.3em 1em var(--spanColor);
}

.advencedFilter {
  text-align: left;
  padding-left: 10px;
}

.accordionBtn {
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-weight: bold;
  /* background-color: #eaf5fa; */
}

.accordionBtn:hover {
  color: rgb(55, 0, 255);
}

.accordionBtnNone {
  display: none;
}

.inputBtnBox {
  grid-column-start: 2;
  grid-column-end: 4;
  justify-content: center;
  align-items: center;
}
.inputBtn {
  max-width: 80px;
  padding: 10px;
  /* margin-left: 50px; */
  background-color: var(--secondBackGround);
  color: var(--logoColor);
  font-size: 23px;
  /* font-weight: bold; */
  border-radius: 5px;
  border: none;
}

.inputBtn:hover {
  color: var(--specialColor);
}

@media (max-width: 1065px) {
  .SearchForSpecialistContainer {
    height: 900px;
    border-radius: 5px;
  }
  .SearchForSpecialistBody {
    height: 900px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
}
