.therapistInfoContainer {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardInformation{
width: 70%;
min-height: 250px;
}

.cardPhotoBoxInformation{
    width: 20%;
    padding: 50px;
}

.imgInformation{
    width: 150px;
    height: 150px;
}

.aboutContainer{
    max-width: 50%;
    background: #eaf5fa;
    border: 1px solid #aae4ff;
    margin: 20px;
    padding: 20px;
}

.therapistAbout{
    font-size: 20px;
}