.homePageContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.titleContainer{
    margin: 50px;
    padding-top: 40px;
}

.title{
    font-size: 50px;
    font-weight: bolder;
}

.logoName{
    color:var(--specialColor);
}
