
.searchInputContainer{
    height: 50px;
    border-radius: 5px;
    display: flex;
    /* justify-content: space-between; */
    /* background: #fff;; */
    margin: 10px;
    outline-color: rgba(40, 170, 170, 0.356);
}
.searchInput{
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 10px;
}
.short{
    width: 200px;
}
.long{
    width: 220px;
}
.iconContainer{
    margin: 15px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

.range{
    height: 70px;
}

.rangeInput{
    border: none;
    box-shadow: none;
    height: 5px;
    margin: 0;
    padding: 0;
}

