.headerContainer {
  /* background-color: var(--secondBackGround); */
  z-index: 9999;
  /* width: 100%; */
  height: 7%;
}

.bg {
  background-color: var(--secondBackGround);
  box-shadow: 0.1px 2px 1px 1px var(--specialWhite);
}

.navBarLink {
  border: 2px var(--secondBackGround) solid;
  border-radius: 100px;
  margin: 0 4px;
  font-weight: bolder;
  color: var(--secondBackGround);
}

.dropDownLink {
  color: var(--logoColor);
}

.navBarLink:hover {
  border-color: var(--specialColor);
}

.bold {
  font-weight: bold;
  color: var(--secondBackGround);
}

.boldBg {
  font-weight: bold;
  color: var(--spanColor);
}

.bold:hover {
  color: var(--specialColor);
}

#bold {
  font-weight: bold;
  color: var(--secondBackGround);
  transition: 0.3s;
}

#boldBg {
  font-weight: bold;
  color: var(--spanColor);
}

.logOutBg {
  color: var(--spanColor);
  border-color: var(--spanColor);
}

.canvasHeader {
  background-color: var(--mainBackGround);
}

.signUp {
  background-color: var(--secondBackGround);
  color: var(--spanColor);
}

.signUpBg {
  color: var(--logoColor);
  border-color: var(--logoColor);
}

.signUp:hover {
  background-color: var(--specialColor);
  border-color: var(--specialColor);
}

.navBarText {
  color: var(--secondBackGround);
  margin-right: 10px;
  margin-top: 1px;
  font-weight: bold;
}

.navBarTextBg {
  color: var(--spanColor);
  margin-right: 10px;
  margin-top: 1px;
  font-weight: bold;
}

.magnifying-glass-icon {
  cursor: pointer;
  color: var(--secondBackGround);
}

.magnifying-glass-iconBd {
  cursor: pointer;
  color: var(--span);
}

.psyProjectLogo {
  width: 130px;
  /* margin: 4px; */
}

.psyProjectLogoCanvas {
  width: 250px;
  margin-top: 25%;
}

@media (max-width: 993px) {

  .bg{
background: none;
  }

  .bold {
    color: var(--specialWhite);
  }
  .boldBg {
    color: var(--specialWhite);
  }
  #bold {
    color: var(--specialWhite);
  }

  #boldBg {
    color: var(--specialWhite);
  }

  .navBarText {
    color: var(--specialWhite);
  }

  .navBarTextBg {
    color: var(--specialWhite);
  }

  .navBarLink{
    border: none;
    background-color: var(--mainBackGround);
  }

  .navBarLink:hover{
    background-color: var(--mainBackGround);
  }
  
}
