.therapistTypesContainer {
  background: #ffffffdc;
  padding: 10px;
  margin: 4%;
}

.therapistTitle {
  padding: 40px;
}

.therapistTypesBody {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 70px 140px;
  justify-content: center;
  align-items: center;
}

.therapistTypeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #282c34;
}

.therapistTypeBox:hover{
    color: #4bc6ff;
}

.therapistTypeSpan {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
}

@media(max-width:692px){
  .therapistTypesBody{
    grid-template-columns: repeat(1, auto);
  }
}
