.counterCompContainer{
    margin: 50px;
}
.counterTitle{
    color: #636464;
}
.countersBox{
    background: #eaf5fa;
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border: none;
}
.counterBox{
display: flex;
flex-direction: column;
}
.counter{
font-size: 35px;
font-weight:400
}
.labelCounter{
    font-size: 25px;
    font-weight: 100;
}