.carouselContainer {
  padding: 10px;
  margin: 4%;
  width: 50%;
  font-weight: bold;
  box-shadow:
  /* 0 0 0 2px var(--spanColor), */
  0.3em 0.3em 1em var(--spanColor);
  border-radius: 30px;
}


.carouselBox{
/* border-top-right-radius: 30%;
border-top-left-radius: 30%; */
box-shadow:
  /* 0 0 0 2px var(--spanColor), */
  0.3em 0.3em 1em var(--spanColor);
  min-height: 380px;
  background: var(--secondBackGround);
  border-radius: 30px;
}

.carouselItem{
  height: 40%;
}

.carouselItemLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--spanColor);
}

.carouselImg{
  width: 200px;
  margin: 15px;
}

.therapistTitle {
  padding: 40px;
}

.therapistTypeBox:hover{
    color: var(--specialColor);
}

.therapistTypeSpan {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
}

@media(max-width:992px){
  .carouselContainer{
    width: 99%;
  }
}
