.carouselContainer {
  padding: 10px;
  margin: 4%;
  width: 50%;
  font-weight: bold;
}


.carouselBox{
/* border-top-right-radius: 30%;
border-top-left-radius: 30%; */
  min-height: 380px;
  background: var(--secondBackGround);
  border-radius: 30px;
}

.carouselItem{
  height: 40%;
}

.carouselItemLink {
  cursor: pointer;
  text-decoration: none;
  color: var(--spanColor);
}

.carouselImg{
  width: 200px;
  margin: 15px;
}

.therapistTitle {
  padding: 40px;
}

.therapistTypeBox:hover{
    color: var(--specialColor);
}

.therapistTypeSpan {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
}

@media(max-width:692px){
 
}
