.signInContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signInForm{

}

.flex{
    display: flex;
    justify-content: center;
   gap: 20px;
}

.checkBoxContainer{
    justify-content: start;
}

