.signInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signUpContainer {
  height: 700px;
  display: flex;
  justify-content: center;
}

.signUpBox {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}

.signInForm{
  margin-top: 70px;
}

.signUpOption {
   
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.checkBoxContainer {
  justify-content: start;
}

.errorMessage {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
