.signInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 800px;
  background-color: var(--secondBackGround);
  background-image: url('../../icons/backGround52.png');
}

.signUpContainer {
  height: 800px;
  display: flex;
  justify-content: center;
}

.signUpBox {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
}

.signInForm{
  margin-top: 70px;
}

.signUpOption {
   
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.checkBoxContainer {
  justify-content: start;
}

.clientRegistration{
background-color: var(--mainBackGround);
border: none;
font-size: 60px;
}

.clientRegistration:hover{
  background-color: var(--logoColor);
}

.thrapistRegistration{
  background-color: var(--specialColor);
  border: none;
  font-size: 60px;
}

.thrapistRegistration:hover{
  background-color: var(--logoColor);
}

.errorMessage {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
